@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-[#fdfdfd] font-inter text-dark;
	}
}

@layer components {
	.btn {
		@apply shadow-none;
	}
	.btn-primary {
		@apply text-[#fdfdfd];
	}

	.btn-accent {
		@apply text-dark;
	}

	.btn-secondary {
		@apply text-primary;
	}

	.btn-w-outline {
		@apply bg-transparent border-secondary text-secondary;
	}

	.available {
		@media only screen and (width > 500px) {
			display: none;
		}
	}

	.not-available {
		@media only screen and (width <= 500px) {
			display: none;
		}
	}
}

@layer utilities {
	.filter-none {
		filter: none;
	}
	.filter-grayscale {
		filter: grayscale(100%);
	}
}
